.chat-side
  .side-header
    .side-header__box
      %p.side-header__box-user-name
        = current_user.name
      %ul.side-header__box-icons
        %li.side-header__box-icons__new-group
          = link_to new_group_path do
            = icon('fas', 'edit')
        %li.side-header__box-icons__new-edit
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
  .side-groups
    - current_user.groups.each do |group|
      .side-groups__group
        = link_to '#', class: "side-groups__group__group-link" do
          .side-groups__group__group-name
            = group.name
          .side-groups__group__group-message
            まだメッセージがありません